@charset "UTF-8";
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --foreground-rgb: 0, 0, 0;
  /*--background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;*/
  --main-color:#FFE4B5;
  --sub-color:#fffef6;
  --accent-color:#835fa8;
  --outline-border:#abb1ad;
  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );
  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );
    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );
    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}
html body {
  font-family: "Quicksand", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
html .page_main .blog-sidebar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
@media (max-width: 1024px) {
  html .page_main .blog-sidebar {
    flex-direction: column;
    align-items: center;
  }
}
html .page_main .blog-sidebar .blog-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
@media (max-width: 1024px) {
  html .page_main .blog-sidebar .blog-wrapper {
    width: 95%;
  }
}
html .page_main .blog-sidebar .blog-wrapper .backTo {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
html .page_main .blog-sidebar .blog-wrapper main {
  background-color: var(--main-color);
  border: 1px solid var(--outline-border);
  border-radius: 10px;
  padding: 2%;
  width: 100%;
  margin-top: 2%;
}
html .page_main .blog-sidebar .blog-wrapper main .category-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
html .page_main .blog-sidebar .blog-wrapper main .category-wrapper a {
  background-color: var(--accent-color);
  padding: 0.5%;
  border-radius: 10px;
  border: 1px solid var(--outline-border);
  margin-left: 1%;
}
html .page_main .blog-sidebar .blog-wrapper main .category-wrapper img {
  width: 30px;
}
html .page_main .blog-sidebar .side-bar {
  width: 30%;
}
@media (max-width: 1024px) {
  html .page_main .blog-sidebar .side-bar {
    width: 100%;
    margin-bottom: 10%;
  }
}
html .page_main .blog-sidebar .side-bar .category-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: 30%;
}
@media (max-width: 1024px) {
  html .page_main .blog-sidebar .side-bar .category-list {
    margin-left: 0%;
  }
}
html .page_main .blog-sidebar .side-bar .category-list ul {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 25vh;
  overflow-y: scroll;
}
html .page_main .blog-sidebar .side-bar .category-list ul li {
  margin-top: 2%;
  border: 1px solid var(--outline-border);
  width: 45%;
  height: 15%;
  border-radius: 1vh;
  overflow: hidden;
  margin-left: 1%;
  margin-right: 1%;
}
html .page_main .blog-sidebar .side-bar .category-list ul li:hover {
  background-color: var(--accent-color);
}
html .page_main .blog-sidebar .side-bar .category-list ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
html .page_main .blog-sidebar .side-bar .list-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: 30%;
}
@media (max-width: 1024px) {
  html .page_main .blog-sidebar .side-bar .list-side {
    margin-left: 0%;
  }
}
html .page_main .blog-sidebar .side-bar .list-side .sidebar-size {
  width: 80%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--outline-border);
  border-radius: 10px;
}
html .page_main .blog-sidebar .side-bar .list-side .sidebar-size:hover {
  background-color: var(--accent-color);
}
html .page_main .blog-sidebar .side-bar .list-side .sidebar-size a {
  width: 100%;
  text-align: center;
}
html .page_main .blog-sidebar .side-bar .list-side .sidebar-size .p-text a:hover {
  color: var(--sub-color);
}
html .page_main .blog-sidebar .side-bar .list-side .title-new {
  font-size: 3rem;
  text-align: center;
}
html .page_main .blog-sidebar .side-bar .list-side h2 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
html header {
  width: 100%;
  position: sticky; /*固定する*/
  position: -webkit-sticky; /*Safari用ベンダープレフィックス*/
  top: 0; /*ブラウザの上からの距離はゼロ*/
  z-index: 100;
}
html header .header {
  width: 100%;
  background-color: #f7f7f7;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid var(--outline-border);
  background-image: url("../public/header-bg.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
html header .header a {
  width: 50%;
  height: 100%;
}
@media (max-width: 1024px) {
  html header .header a {
    width: 75%;
  }
}
html header .header a img {
  margin-left: 5%;
  height: 100%;
  width: 100%;
}
html header .header .hamburger-menu {
  display: none;
}
@media (max-width: 1024px) {
  html header .header .hamburger-menu {
    display: flex;
  }
}
html header .header .menu-content {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 85%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-left: 5%;
}
html header .header .menu-content h2 {
  color: var(--sub-color);
  width: 80%;
  background-color: var(--accent-color);
  padding: 2%;
}
html header .header .menu-content ul {
  height: 20%;
  margin-top: 5%;
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}
html header .header .menu-content ul li a {
  font-size: 1.5rem;
}
html header .header .menu-btn {
  position: fixed;
  top: 1%;
  right: 1%;
  display: flex;
  height: 80px;
  width: 80px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  border-radius: 50%;
  background-color: var(--sub-color);
  border: 1px solid var(--accent-color);
}
@media (max-width: 640px) {
  html header .header .menu-btn {
    height: 50px;
    width: 50px;
  }
}
html header .header .menu-btn span,
html header .header .menu-btn span:before,
html header .header .menu-btn span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: var(--accent-color);
  position: absolute;
}
html header .header .menu-btn span:before {
  bottom: 8px;
}
html header .header .menu-btn span:after {
  top: 8px;
}
html header .header #menu-btn-check {
  display: none;
}
html header .header #menu-btn-check:checked ~ .menu-btn {
  background-color: rgba(161, 161, 161, 0.5);
}
html header .header #menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0); /*メニューオープン時は真ん中の線を透明にする*/
}
html header .header #menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
html header .header #menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}
html header .header #menu-btn-check:checked ~ .menu-content {
  left: 0;
}
html header .header .blog-name {
  width: 100%;
  height: 100%;
}
html header .header .menu-bar {
  margin-bottom: 1%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
@media (max-width: 1024px) {
  html header .header .menu-bar {
    display: none;
  }
}
html header .header .menu-bar .menu-box {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
html header .header .menu-bar .menu-box .link {
  padding: 3% 0% 3% 0%;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--outline-border);
  border-radius: 10vh;
}
html header .header .menu-bar .menu-box .link:hover {
  background-color: var(--accent-color);
}
html footer {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 100vh;
}
html footer .footer {
  background-color: var(--main-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--outline-border);
}
html footer .footer .footer-top {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-between;
}
html footer .footer .footer-top .shadow-bg {
  width: 30%;
  height: 100%;
  background-image: url("../public/shadowcat.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
html footer .footer .footer-top .footer-info {
  height: 100%;
  width: 30%;
  padding-top: 1%;
}
@media (max-width: 1024px) {
  html footer .footer .footer-top .footer-info {
    width: 60%;
  }
}
html footer .footer .footer-top .footer-info .footer-guide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
}
html footer .footer .footer-top .footer-info .footer-guide p {
  text-align: center;
}
html footer .footer .footer-top .footer-info .footer-guide .footer-guide__box {
  height: 100%;
  width: 33%;
}
html footer .footer .footer-top .footer-info .footer-guide .footer-guide__box a {
  display: flex;
  justify-content: center;
}
html footer .footer .footer-top .footer-info .footer-guide .footer-guide__box ul {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
html footer .footer .footer-top .footer-info .footer-guide .footer-guide__box ul li {
  margin-top: 5%;
}
html footer .footer .footer-top .footer-info .footer-guide .footer-guide__box ul li a {
  -webkit-text-decoration: var(--accent-color) underline;
          text-decoration: var(--accent-color) underline;
}
html footer .footer .copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--accent-color);
}
html .main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
html .main .main-pn {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-top: 3%;
}
@media (max-width: 1024px) {
  html .main .main-pn {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
html .main .main-pn .pn-wrapper {
  width: 70%;
}
@media (max-width: 640px) {
  html .main .main-pn .pn-wrapper {
    width: 90%;
  }
}
html .main .main-pn .arc-wrapper {
  display: flex;
}
@media (max-width: 1024px) {
  html .main .main-pn .arc-wrapper {
    flex-direction: column;
  }
}
html .main .main-pn .side-bar {
  width: 30%;
}
@media (max-width: 1024px) {
  html .main .main-pn .side-bar {
    width: 100%;
    margin-bottom: 10%;
  }
}
html .main .main-pn .side-bar .arc-archive {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
html .main .main-pn .side-bar .arc-archive h2 {
  background-color: var(--main-color);
  padding: 4%;
  border-radius: 50vh;
  border: 1px solid var(--outline-border);
}
html .main .main-pn .side-bar .category-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
html .main .main-pn .side-bar .category-list ul {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 25vh;
  overflow-y: scroll;
}
html .main .main-pn .side-bar .category-list ul li {
  margin-top: 2%;
  border: 1px solid var(--outline-border);
  width: 45%;
  height: 15%;
  border-radius: 1vh;
  overflow: hidden;
  margin-left: 1%;
  margin-right: 1%;
}
html .main .main-pn .side-bar .category-list ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
html .main .main-pn .side-bar .category-list ul li a:hover {
  background-color: var(--accent-color);
}
html .main .main-pn .side-bar .list-side {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10%;
  align-items: center;
}
html .main .main-pn .side-bar .list-side .sidebar-size {
  width: 80%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--outline-border);
  border-radius: 10px;
}
html .main .main-pn .side-bar .list-side .sidebar-size:hover {
  background-color: var(--accent-color);
}
html .main .main-pn .side-bar .list-side .sidebar-size .p-text:hover {
  color: var(--sub-color);
}
html .main .main-pn .side-bar .list-side .sidebar-size a {
  width: 100%;
}
html .main .main-pn .side-bar .list-side .sidebar-size a .a-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html .main .main-pn .side-bar .list-side .sidebar-size a .a-link h2 {
  text-align: center;
}
html .main .main-pn .side-bar .list-side .title-new {
  text-align: center;
  font-size: 3rem;
}
html .main .main-pn .side-bar .list-side h2 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
html .main h1 {
  width: 100%;
  text-align: center;
}
html .list {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 1024px) {
  html .list {
    flex-direction: column;
    align-items: center;
  }
}
html .list .list-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1024px) {
  html .list .list-wrapper {
    width: 90%;
  }
}
html .list .list-wrapper .news {
  width: 30%;
  margin-top: 3%;
  border-radius: 10px;
  border: 1px solid var(--outline-border);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 640px) {
  html .list .list-wrapper .news {
    width: 50%;
  }
}
html .list .list-wrapper .news:hover {
  background-color: var(--accent-color);
}
html .list .list-wrapper .news a {
  width: 100%;
  height: 100%;
  padding: 5%;
}
html .list .list-wrapper .news a p {
  text-align: center;
}
html .list .list-wrapper .list-ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  html .list .list-wrapper .list-ul {
    flex-direction: column;
    align-items: center;
  }
}
html .list .list-wrapper .list-ul .size {
  width: 45%;
  padding: 5%;
  border-radius: 1vh;
}
@media (max-width: 1024px) {
  html .list .list-wrapper .list-ul .size {
    width: 100%;
  }
}
html .list .list-wrapper .list-ul .size .a-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  padding: 5%;
  background-color: var(--main-color);
  border: 1px solid var(--outline-border);
}
html .list .list-wrapper .list-ul .size .a-link h2 {
  overflow: hidden;
  text-align: center;
}
html .list .list-wrapper .list-ul .size .a-link:hover {
  border: 1px solid var(--accent-color);
}
html .list .list-wrapper .list-ul .size .a-link .category {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3%;
  position: relative;
  z-index: 1;
}
html .list .list-wrapper .list-ul .size .a-link .category .p-time {
  font-size: 0.75rem;
  opacity: 0.7;
}
html .list .list-wrapper .list-ul .size .pn-link {
  height: 20vh;
  flex-direction: row;
  padding: 0%;
}
html .list .list-wrapper .list-ul .size .pn-link .pn-img {
  width: 30%;
  border-radius: 10px 0 0 10px;
}
html .list .list-wrapper .list-ul .size .pn-link .pn-title {
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html .list .list-wrapper .list-ul .size .pn-link .pn-title h2 {
  width: 90%;
}
html .list .list-wrapper .list-ul .size .headline {
  height: 3rem;
  overflow: hidden;
  width: 100%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
html .list .list-wrapper .list-ul .size img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
html .list .list-wrapper .list-ul .pn-size {
  width: 100%;
  padding: 2%;
}
html .list .list-wrapper .list-ul .p-text {
  width: 95%;
  display: flex;
  justify-content: flex-end;
}
html .list .list-wrapper .list-ul .p-text .p-time {
  margin-bottom: 3%;
  margin-right: 3%;
}
html .list .list-wrapper .list-ul .size-nation {
  width: 33%;
}
html .list .list-wrapper .list-ul .size-photonone {
  height: 50vh;
  width: 50%;
  margin-top: 1%;
}
html .list .list-wrapper .list-ul__nation {
  flex-direction: column;
  align-items: center;
}
html .list .list-wrapper .pagenation-url {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5%;
}
html .list .list-wrapper .pagenation-url p {
  font-size: 2.5rem;
}
@media (max-width: 640px) {
  html .list .list-wrapper .pagenation-url p {
    font-size: 1.5rem;
  }
}
html .list .list-nation {
  width: 100%;
}
html .list .list-nation .arc-wrapper {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
}
html .list .list-nation .arc-wrapper li {
  background-color: var(--main-color);
  margin-bottom: 3%;
  border-radius: 10px;
  border: 1px solid var(--outline-border);
  padding: 3%;
}
html .list .list-nation .arc-wrapper li:hover {
  border: 1px solid var(--accent-color);
}
html .list .list-nation .arc-wrapper li .p-time {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
html .list .category-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
html .list .category-list ul {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 25vh;
  overflow-y: scroll;
}
html .list .category-list ul li {
  margin-top: 2%;
  border: 1px solid var(--outline-border);
  width: 45%;
  height: 15%;
  border-radius: 1vh;
  overflow: hidden;
  margin-left: 1%;
  margin-right: 1%;
}
html .list .category-list ul li:hover {
  background-color: var(--accent-color);
}
html .list .category-list ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
html .list .archive {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html .list .archive h2 {
  background-color: var(--main-color);
  padding: 4%;
  border-radius: 50vh;
  border: 1px solid var(--outline-border);
}
html .list .archive li {
  overflow-y: scroll;
  margin-top: 3%;
  height: 50vh;
  margin-left: 5%;
  padding: 21%;
  padding-top: 0%;
}
html .list .side-bar {
  width: 20%;
  margin-left: 5%;
  margin-top: 5%;
}
@media (max-width: 1024px) {
  html .list .side-bar {
    width: 80%;
  }
}
html .list .side-bar .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
html .list .side-bar .profile .my-pr p {
  font-size: 1rem;
}
html .list .side-bar .profile__image {
  display: flex;
  justify-content: center;
  width: 80%;
}
html .list .side-bar .profile__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50vh;
}
html .list .side-bar .profile p {
  margin-top: 3%;
  font-size: 2rem;
}
html .list .side-bar li {
  list-style: none;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

body {
  width: 100%;
  background-color: var(--sub-color);
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.page-nation {
  width: 100%;
  display: flex;
  justify-content: center;
}
.page-nation .page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-nation .page .pn-wrapper {
  width: 30%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-nation .page .pn-wrapper .pn-guide p {
  font-size: 2rem;
}
.page-nation .page .pn-wrapper .pn-guide p:hover {
  color: var(--accent-color);
}
.page-nation .page .pn-wrapper .pn-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-nation .page .pn-wrapper .pn-name a {
  border: 1px solid var(--outline-border);
  width: 100%;
  height: 100%;
  padding: 0.1rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border-radius: 10px;
}
.page-nation .page .pn-wrapper .pn-name a:hover {
  background-color: var(--accent-color);
}
.page-nation .page .pn-wrapper .pn-name p {
  font-size: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
/*# sourceMappingURL=globals.css.map */